<mat-toolbar class="position-absolute" color="primary" style="width: 100%;">
  <mat-toolbar-row class="justify-content-between">
    <button [routerLink]="['/home']" mat-button>Home</button>
    <button [routerLink]="['/list?sortType=hightolow']" mat-button>Products</button>
    <button [routerLink]="['/feedback']" mat-button>Feedback</button>
    <button [routerLink]="['/login']" mat-button>Logout</button>
  </mat-toolbar-row>
</mat-toolbar>

<div style="padding-top: 100px;">
  <div class="d-flex align-items-center h-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-5">
          <mat-card>
            <h3 class="text-center">Feedback</h3>
            <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
              <mat-form-field class="w-100">
                <input type="text" matInput placeholder="Name" formControlName="name">
                <mat-error *ngIf="data.name.errors?.required">Name is required</mat-error>
              </mat-form-field>
              <mat-form-field class="w-100">
                <input type="text" matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="data.email.errors?.required">Email Address is required</mat-error>
              </mat-form-field>
              <mat-form-field class="w-100">
                <input type="text" matInput placeholder="Mobile" formControlName="mobile">
                <mat-error *ngIf="data.mobile.errors?.required">Mobile Number is required</mat-error>
              </mat-form-field>
              <mat-form-field class="w-100">
                <input type="text" matInput placeholder="Feedback" formControlName="feedback">
                <mat-error *ngIf="data.feedback.errors?.required">Feedback is required</mat-error>
              </mat-form-field>
              <div class="mt-4">
                <button mat-raised-button color="primary">Save</button>
                <a [routerLink]="['/home']" class="ml-2" mat-button color="primary">Cancel</a>
              </div>
            </form>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

</div>

