<mat-toolbar class="position-absolute" color="primary">
  <mat-toolbar-row class="justify-content-between">
    <button [routerLink]="['/home']" mat-button>Home</button>
    <button [routerLink]="['/list?sortType=hightolow']" mat-button>Products</button>
    <button [routerLink]="['/feedback']" mat-button>Feedback</button>
    <button [routerLink]="['/login']" mat-button>Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
<div style="padding-top: 100px;">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="ProductId">
      <th mat-header-cell *matHeaderCellDef> ProductId </th>
      <td mat-cell *matCellDef="let element"> {{element.ProductId}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="ProductCode">
      <th mat-header-cell *matHeaderCellDef> ProductCode </th>
      <td mat-cell *matCellDef="let element"> {{element.ProductCode}} </td>
    </ng-container>

    <ng-container matColumnDef= "ProductTitle">
      <th mat-header-cell *matHeaderCellDef> ProductTitle </th>
      <td mat-cell *matCellDef="let element"> {{element.ProductTitle}} </td>
     </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="ProductURL">
      <th mat-header-cell *matHeaderCellDef> ProductURL </th>
      <td mat-cell *matCellDef="let element"> {{element.ProductURL}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Collection">
      <th mat-header-cell *matHeaderCellDef> Collection </th>
      <td mat-cell *matCellDef="let element"> {{element.Collection}} </td>
    </ng-container>

     <!-- Symbol Column -->
     <ng-container matColumnDef="AvailableSizes">
      <th mat-header-cell *matHeaderCellDef> AvailableSizes </th>
      <td mat-cell *matCellDef="let element"> {{element.AvailableSizes}} </td>
    </ng-container>

     <!-- Symbol Column -->
     <ng-container matColumnDef="MRP">
      <th mat-header-cell *matHeaderCellDef> MRP </th>
      <td mat-cell *matCellDef="let element"> {{element.MRP}} </td>
    </ng-container>

     <!-- Symbol Column -->
     <ng-container matColumnDef="Price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.Price}} </td>
    </ng-container>

     <ng-container matColumnDef= "StyleName">
      <th mat-header-cell *matHeaderCellDef> StyleName </th>
      <td mat-cell *matCellDef="let element"> {{element.StyleName}} </td>
     </ng-container>

     <ng-container matColumnDef= "StyleNumber">
      <th mat-header-cell *matHeaderCellDef> StyleNumber </th>
      <td mat-cell *matCellDef="let element"> {{element.StyleNumber}} </td>
     </ng-container>

     <ng-container matColumnDef= "ProductTypeId">
      <th mat-header-cell *matHeaderCellDef> ProductTypeId </th>
      <td mat-cell *matCellDef="let element"> {{element.ProductTypeId}} </td>
     </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
